:root {
    
}

body {
  margin: 0;
  background: #f0e6dc;
  font: 200%/1.5 'Boogaloo', cursive;
  mix-blend-mode: multiply;  background-image: url("../../assets/images/textures/white-construction-paper-texture.jpg");
}

html {
  scroll-snap-type: y mandatory;
}

section {
  block-size: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  scrollbar-width: none;
  display: flex;
  align-items: center;
  justify-content: center;
  content-visibility: auto;
}

.hidden-label {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}

.content-visibility {
  content-visibility: auto;
}

.hidden-label {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}

.show-pages {
    border: 5px solid red;
}

.fit-image {
    object-fit: scale-down;
}

.flip {
    transform: scaleX(-1);
}

.upside-down {
    transform: rotate(180deg);
}

.top-layer {
    z-index: 9;
}

.show-border, .display {
    border: dashed 4px #2b2b2b;
    z-index: 9;
}

.read-mode {
	position: absolute;
	width: 340px;
	height: 480px;
	right: 6%;
	bottom: 4%;
	background-image: url("../../assets/images/effects/red-arrow-down.png");
	background-repeat: no-repeat;
	z-index: 9;
    animation: fade-out 5s cubic-bezier(.17,.84,.44,1) 1 forwards;
}

@keyframes fade-out {
	0% { opacity: 1;}
	90% { opacity: 1;}
	100% { opacity: 0;}
}

.read-mode::before {
    position: absolute;
	content: 'Read Mode';
	font-family: 'Titan One';
	text-align: center;
	font-size: 3rem;
	color: #fff;
	text-shadow: -6px -6px 0 #333, 6px -6px 0 #333, -6px 6px 0 #333, 6px 6px 0 #333;
    left: 14%;
    top: 10%;
}
