body {
  margin: 0;
  font: 200%/1.5 'Boogaloo', cursive, 'Noto Sans JP', bold;
}

h7 {
    position: absolute;
    font-family: 'Darumadrop One';
    font-size: 5.5rem;
    text-align: center;
    color: #ce4960;
    z-index: 9;
}

body:has(input[id="button1-page1"]:checked) .illust1 {
   filter: opacity(0.7) saturate(0) brightness(1.1) contrast(1.5) sepia(20%);
   mix-blend-mode: multiply;  background-image: url("../../assets/images/textures/seamless-background-texture.jpg");
   transition: .3s ease;
}

section:has(input[id="button2-page1"]:checked) .image-over-kid {
   filter: drop-shadow(-4px 0px 0 white) drop-shadow(4px 0px 0 white) drop-shadow(0px 4px 0 white) drop-shadow(0px -4px 0 white);
   transition: .3s ease;
}

body:has(input[id="button3-page1"]:checked) {
   mix-blend-mode: color-burn;
   transition: .3s ease;
}

section:has(input[id="button4-page1"]:checked) .image-cover {
   filter: blur(6px);
   transition: .3s ease;
}

.bg-image-cover {
    position: absolute;
    top: 0%;
    left: 0%;
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
}

p {
    color: white;
    text-align: center;
    margin: 2%;
}

.text-home-page {
    color: black;
    text-align: center;
    margin: 10% 8% 12% 8%;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 100%;
    padding: 2% 0 2% 0;
    background: #242424;
}

.container-character {
    position: absolute;
    top: 10%;
    left: 10%;
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 11;
    object-fit: scale-down;
}

.character-over {
    position: absolute;
    left: -0%;
    height: auto;
    width: 60%;
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: scale-down;
}

.purple-bright {
    filter: drop-shadow(0 0 0.75rem #9150df);
}

.container-old-street-light {
    position: absolute;
    bottom: 20%;
    right: 0%;
    height: 40%;
    width: 40%;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 12;
    object-fit: scale-down;
}

.blue-light-spot {
  position: absolute;
  left: 0%;
  height: 100%;
  width: 100%;
  background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(216, 214, 249) 30%, rgb(39, 144, 255) 55%, rgba(136, 137, 251, 0) 75%);
    background-repeat: repeat;
  background-repeat: no-repeat;
  background-size: ;
  mix-blend-mode: color-burn;
  filter: blur(30px);
  z-index: 9;
  animation: soft-illuminance 1.9s cubic-bezier(.45,.05,.55,.95) 0s infinite alternate;
}

.old-street-light {
    position: absolute;
    /*top: 10%;*/
    left: 0%;
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: scale-down;
}

.slow-s {
    animation: swing 24s ease-in-out 0s infinite alternate;
}

.particles {
    z-index: 9;
}

.container {
    z-index: 11;
}

.speech-bubbleB {
    z-index: 11;
}

.panel {
    border: 2px solid #2b2b2b;
}

.illust1 {
    grid-row: span 5;
    grid-column: span 4;
    background-image: url("");
    background-position: 1% 1%;
    height: 90%;
    /*width: 90%;*/
    margin: 4.4px;
    overflow: hidden;
}

.bg-zoom {
    animation: shake-zoom 20s ease-in-out 0s infinite alternate;
}

.slow-fall {
    animation: inverse-zig-zag-center 10s cubic-bezier(.45,.05,.55,.95) 0s infinite alternate;
}

.slow-zoom-in-out {
    animation: shake-zoom 20s ease-in-out 7s infinite alternate;
}

.illust-container {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  z-index: 3;
}

.image-over-kid {
    position: absolute;
    /*top: 10%;*/
    left: 0%;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    /*background-position: 1% 1%;*/
    background-size: contain;
    z-index: 3;
    object-fit: scale-down;
    animation: shake-zoom 20s ease-in-out 7s infinite alternate;
}

.image-over-panel-dragon {
    position: absolute;
    top: -10%;
    left: -10%;
    height: 111%;
    width: 111%;
    background-repeat: no-repeat;
    /*background-position: 1% 1%;*/
    background-size: cover;
    z-index: 3;
    object-fit: cover;
    /*animation: shake-zoom 20s ease-in-out 4s infinite alternate;*/
    animation: zig-zag-center 10s cubic-bezier(.45,.05,.55,.95) 0s infinite alternate;
}

.normal-page {
    grid-row: span 4;
    grid-column: span 2;
    background-image: url("../../assets/images/stuffs/80605926_p0.jpg");
    background-position: 1% 1%;
    /*width: 100%;*/
    margin: 4.4px;
    /*transform: rotate(-3deg);*/
}

.comicss-page {
    grid-row: span 4;
    grid-column: span 2;
    /*background-image: url("");*/
    background: white;
    /*width: 100%;*/
    margin: 4.4px;
    /*transform: rotate(-3deg);*/
}

.left-side {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    color: white;
    top: 50%;
    left: 6%;
    width: 90px;
    height: 90px;
    z-index: 9;
}

.right-side {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    color: white;
    top: 50%;
    right: 6%;
    width: 90px;
    height: 90px;
    z-index: 9;
}

.page-layout-for-home {
   display: grid;
   grid-template-rows: repeat(6, 150px);
   grid-template-columns: repeat(4, minmax(25%, 1fr));
   width: 80vw;
   margin-top: 25%;
}

@media only screen and (min-height: 1000px) {

.page-layout-for-home {
   display: grid;
   grid-template-rows: repeat(6, 210px);
   grid-template-columns: repeat(4, minmax(25%, 1fr));
   height: 85vh;
   width: 85vw;
   margin-top: 10%;
}

.bg-image-cover {
    left: -30%;
    width: 160%;
}

.container-character {
    top: 30%;
    width: 140%;
}

.container-old-street-light {
    bottom: 20%;
    height: 20%;
    width: 50%;
}

.normal-page {
    grid-row: span 4;
    grid-column: span 3;
    background-image: url("../../assets/images/stuffs/80605926_p0.jpg");
    background-position: 1% 1%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.comicss-page {
    grid-row: span 3;
    grid-column: span 3;
    /*background-image: url("");*/
    background: white;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.page-layout {
    margin-top: 6%;
}

.text-home-page {
    font-size: 3.5rem;
}
}

@media only screen and (min-width: 1600px) {

.center-content {
    position: absolute;
    margin-right: auto;
    margin-left:  auto;
    height: 100%;
    min-width: 1400px;
}
}
