@media only screen and (max-height: 700px) {

.page-layout {
   grid-template-rows: repeat(6, 100px);
}
}

@media only screen and (max-width: 767px) {

.page-layout {
   display: grid;
   grid-template-rows: repeat(6, 150px);
   grid-template-columns: repeat(4, minmax(25%, 1fr));
   width: 80vw;
   margin-top: 10%;
}

.chapter-tag {
  top: 20px;
  right: 3%;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  line-height: 2.5rem;
}

.comic-selector {
   display: grid;
   grid-template-rows: repeat(6, 150px);
   grid-template-columns: repeat(2, minmax(50%, 1fr));
   column-gap: .5em;
   height: 80vh;
   width: 80vw;
   margin-top: -6%;
}

.cover-title {
   font-size: 3rem;
   line-height: .8em;
   text-shadow: 3px 3px 5px black;
}

}

@media only screen and (min-height: 1000px) {

.page-layout {
   display: grid;
   grid-template-rows: repeat(6, 210px);
   grid-template-columns: repeat(4, minmax(25%, 1fr));
   height: 85vh;
   width: 85vw;
}

.page-layout-horizontal {
    display: grid;
    grid-template-rows: repeat(6, 350px);
    grid-template-columns: repeat(5, minmax(100%, 1fr));
    width: 100vw;
    height: 100vh;
}

.comic-selector {
   display: grid;
   grid-template-rows: repeat(6, 160px);
   grid-template-columns: repeat(2, minmax(50%, 1fr));
   column-gap: 1em;
   row-gap: 1em;
   height: 90vh;
   width: 70vw;
   margin-top: 10%;
   margin-left: -2%;
}

.cover-title {
   font-size: 4rem;
   line-height: .8em;
   text-shadow: 4px 4px 6px black;
}

}

@media only screen and (min-width: 1600px) {

.page-layout {
   display: grid;
   grid-template-rows: repeat(6, 150px);
   grid-template-columns: repeat(4, minmax(25%, 1fr));
   width: 40vw;
}

}
