html, body, section {
  block-size: 100dvh;
}

html {
  scroll-snap-type: y mandatory;
}

section.title {
  color: white;
  background: black;
}

.box-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    white-space: nowrap;
    position: absolute;
    padding: 20px;
    margin: 0px;
    color: #000;
    z-index: 6;
}

.box-text::after {
    position: inherit;
    content:"";
    background: #fff;
    border: solid 2px #000;
    height: 100%;
    min-width: 100%;
    z-index: -1;
}

.center-center {
  position:absolute;
  text-align: center;
  top: 40%;
  left: 40%;
}

.top-center, .center-top {
  position:absolute;
  text-align: center;
  top: 0%;
  left: 40%;
}

.bottom-center, .center-bottom {
  position:absolute;
  text-align: center;
  bottom: 0%;
  left: 40%;
}

.center-left {
  position:absolute;
  text-align: center;
  top: 40%;
  left: -2%;
}

.center-right {
  position:absolute;
  text-align: center;
  top: 40%;
  right: -2%;
}

.top-left {
  position:absolute;
  text-align: center;
  top: 0%;
  left: -2%;
}

.top-right {
  position:absolute;
  text-align: center;
  top: 0%;
  right: -2%;
}

.bottom-left {
  position:absolute;
  text-align: center;
  bottom: 0%;
  left: -2%;
}

.bottom-right {
  position:absolute;
  text-align: center;
  bottom: 0%;
  right: -2%;
}

.page-layout {
   display: grid;
   grid-template-rows: repeat(8, 100px);
   grid-template-columns: repeat(4, minmax(25%, 1fr));
   reading-flow: grid-columns;
   column-gap: 1.4%;
   row-gap: 1.4%;
   width: 48vw;
   margin-top: -6%;
}

.odd-page-layout {
   display: grid;
   grid-template-rows: repeat(6, 130px);
   grid-template-columns: repeat(3, minmax(33%, 1fr));
   reading-flow: grid-columns;
   column-gap: 1.4%;
   row-gap: 1.4%;
   width: 50vw;
   margin-top: -4%;
}

.page-layout-horizontal {
    display: grid;
    grid-template-rows: repeat(6, 150px);
    grid-template-columns: repeat(5, minmax(100%, 1fr));
    width: 100vw;
    height: 100vh;
}

.page-layout-margin {
   display: grid;
   grid-template-rows: repeat(6, 130px);
   grid-template-columns: repeat(4, minmax(25%, 1fr));
   column-gap: 1.4%;
   row-gap: 1.4%;
   width: 70vw;
   margin: 0 auto;
}

.rtl, .right-to-left, .invert-orientation, .oriental-read-mode {
    grid-auto-flow: dense;
    direction: rtl;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  white-space: nowrap;
}

.box-view {
	min-width: 200px;
	height: 100vh;
}

.sub-page-layout {
   display: grid;
   column-gap: 1%;
   row-gap: 1%;
   height: 100%;
   width: 100%;
}

.panel {
  /*background-color: #fff;*/
  /*background-color: var(--panel-color);*/
  border: 2px solid #2b2b2b;
  margin: 1.4%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.panel-parallax, .parallax-panel {
  border: 3px solid #2b2b2b;
  background-repeat: repeat;
  background-size: auto;
  position: relative;
}

.fit-panel {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 3;
  object-fit: cover;
}

.hidden-panel-border, .panel-no-border {
  border: 0px;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.panel-group-left {
   display: grid;
   grid-template-rows: repeat(6, 150px);
   grid-template-columns: repeat(4, minmax(25%, 1fr));
   height: 100vh;
   width: 200%;
   margin: 0 auto;
   position: relative;
}

.panel-group-right {
   display: grid;
   justify-content: end;
   grid-template-rows: repeat(6, 150px);
   grid-template-columns: repeat(4, minmax(25%, 1fr));
   height: 100vh;
   width: 200%;
   right: -100%;
   margin: 0 auto;
   position: relative;
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  height: auto;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%,-50%);
}

.space {
  margin: 2%;
  position: relative;
  z-index: 0;
}

.more-space {
  grid-row: span 2;
  grid-column: span 2;
  margin: 2%;
  position: relative;
  z-index: 0;
}

.space-line, .horizontal-space {
   position: relative;
   grid-row: span 1;
   grid-column: span 4;
   z-index: 0;
}

.space-column, .vertical-space {
   position: relative;
   grid-row: span 6;
   grid-column: span 1;
   z-index: 0;
}

.bg-image {
    position: absolute;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    /*background-position: 1% 1%;*/
    background-size: cover;
    object-fit: cover;
    z-index: -3;
    filter: opacity(62%);
}

.bg-gradient {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(45deg, #ae3dac 0%, #fad0c4 99%, #fad0c4 100%);
    background-repeat: no-repeat;
    background-position: 1% 1%;
    background-size: cover;
    object-fit: cover;
    z-index: -3;
    filter: opacity(62%);
}

.effect-over {
    position: absolute;
    height: 80%;
    width: 80%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    object-fit: cover;
    z-index: -3;
    filter: opacity(82%);
}

.screen-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    /*background-position: center center;*/
    object-fit: scale-down;
    object-position: 50% 100%;
    z-index: 1;
}

.screen-texture {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    /*background: radial-gradient(circle, rgba(255,169,253,1) 0%, rgba(91,31,145,1) 100%);*/
    /*background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);*/
    /*background-position: center center;*/
    object-fit: cover;
    z-index: 0;
}

.container {
    position: absolute;
    /*top: 10%;*/
    left: 0%;
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    /*background-position: 1% 1%;*/
    background-size: contain;
    z-index: 3;
    object-fit: scale-down;
}

.lock-container {
  position: absolute;
  display: flex;
  height: 480px;
  width: 480px;
  justify-content: center;
  z-index: 3;
  /*align-items: center;*/
}

.image-of-cover {
    position: absolute;
    /*top: 10%;*/
    left: 0%;
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    /*background-position: 1% 1%;*/
    background-size: contain;
    z-index: 3;
    object-fit: scale-down;
}

.image-cover {
    position: absolute;
    /*top: 10%;*/
    left: 0%;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    /*background-position: 1% 1%;*/
    background-size: contain;
    z-index: 3;
    object-fit: cover;
}

.image-over {
    position: absolute;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 3;
    object-fit: scale-down;
}

.image-over-panel {
    position: absolute;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    /*background-position: 1% 1%;*/
    background-size: cover;
    z-index: 3;
    object-fit: cover;
}

.fixed-center-top {
  position: absolute;
  top: -5%;
  left: 25%;
  height: 50%;
  width: 50%;
  background-repeat: no-repeat;
  background-position: 1% 1%;
  background-size: contain;
  z-index: 9;
  object-fit: scale-down;
}

.fixed-left-top {
  position: absolute;
  top: -5%;
  left: 2%;
  height: 50%;
  width: 50%;
  background-repeat: no-repeat;
  background-position: 1% 1%;
  background-size: contain;
  z-index: 9;
  object-fit: scale-down;
}

.fixed-right-top {
  position: absolute;
  top: -5%;
  right: 2%;
  height: 50%;
  width: 50%;
  background-repeat: no-repeat;
  background-position: 1% 1%;
  background-size: contain;
  z-index: 9;
  object-fit: scale-down;
}

.fixed-left-bottom {
  position: absolute;
  bottom: -5%;
  left: 2%;
  height: 50%;
  width: 50%;
  background-repeat: no-repeat;
  background-position: 1% 1%;
  background-size: contain;
  z-index: 9;
  object-fit: scale-down;
}

.fixed-right-bottom {
  position: absolute;
  bottom: -5%;
  right: 2%;
  height: 50%;
  width: 50%;
  background-repeat: no-repeat;
  background-position: 1% 1%;
  background-size: contain;
  z-index: 9;
  object-fit: scale-down;
}

.object-center-center {
  position: absolute;
  display: flex;
  justify-content: left;
  top: auto;
  left: auto;
}

.object-top-center {
  position: absolute;
  display: flex;
  justify-content: left;
  top: 6%;
  left: auto;
}

.object-bottom-center {
  position: absolute;
  display: flex;
  justify-content: left;
  align-items: end;
  bottom: 6%;
  left: auto;
}

.object-top-left {
  position: absolute;
  display: flex;
  justify-content: left;
  top: 6%;
  left: 6%;
}

.object-top-right {
  position: absolute;
  display: flex;
  justify-content: right;
  top: 6%;
  right: 6%;
}

.object-bottom-left {
  position: absolute;
  display: flex;
  justify-content: left;
  align-items: end;
  bottom: 6%;
  left: 6%;
}

.object-bottom-right {
  position: absolute;
  display: flex;
  justify-content: right;
  align-items: end;
  bottom: 6%;
  right: 6%;
}

.outside-top-left {
  position: absolute;
  display: flex;
  justify-content: left;
  top: -6%;
  left: -6%;
}

.outside-top-right {
  position: absolute;
  display: flex;
  justify-content: right;
  top: -6%;
  right: -6%;
}

.outside-bottom-left {
  position: absolute;
  display: flex;
  justify-content: left;
  align-items: end;
  bottom: -6%;
  left: -6%;
}

.outside-bottom-right {
  position: absolute;
  display: flex;
  justify-content: right;
  align-items: end;
  bottom: -6%;
  right: -6%;
}
