
[id=profile-picture-fuuzasa] {
    background-image: url("../../assets/images/profile-pictures/fuuzasa.jpg");
    background-repeat: no-repeat;
}

[id=profile-picture-phelipefox] {
    background-image: url("../../assets/images/profile-pictures/phelipefox-profile.png");
    background-repeat: no-repeat;
}

