.sidebar {
    position: fixed;
    align-items: center;
    top: 0;
    width: 80px;
    height: 400px;
    border-radius: 0px 0px 14px 14px;
    /*background: cyan;*/
}

.logo {
    transform: rotate(-90deg);
    margin-top: 100%;
    margin-left: -74%;
    width: 200px;
}

@media only screen and (max-width: 490px) {

.logo {
    margin-left: -44%;
    width: 100px;
}
}
