html {
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textx {
  position: absolute;
  font-family: 'Boogaloo';
  /*font-weight: bold;*/
  font-style: italic;
  color: var(--textx-color);
  top: var(--textx-top); bottom: var(--textx-bottom); left: var(--textx-left); right: var(--textx-right);
  /*font-weight: bold;*/
  font-size: var(--textx-size);
  line-height: 40px;
  /*letter-spacing: -9px;*/
  word-spacing: 10px;
  transform: var(--textx-transform);
}

.texty {
  position: absolute;
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-family: 'Boogaloo';
  /*font-weight: bold;*/
  font-style: italic;
  top: var(--texty-top); left: var(--texty-left); right: var(--texty-right);
  /*font-weight: bold;*/
  font-size: var(--texty-size);
  line-height: 40px;
  letter-spacing: -9px;
  word-spacing: 10px;
  transform: var(--ttransform);
}

.textshadow {
  text-shadow: -6px -6px 0 #484848, 6px -6px 0 #484848, -6px 6px 0 #484848, 6px 6px 0 #484848;
}

.page-layout {
   display: grid;
   grid-template-rows: repeat(6, 150px);
   grid-template-columns: repeat(4, minmax(25%, 1fr));
   width: 70vw;
   margin: 0 auto;
}

.panel {
  background-color: #fff;
  background-color: var(--bg-color);
  border: 4px solid #2b2b2b;
  margin: 1.4%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.image-over {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    z-index: 3;
    object-position: 50% 6%;
    object-fit: cover;
    z-index: -1;
}

.balloons {
    display: flex;
    flex-direction: column;
    height: 200%;
    justify-content: center;
    align-items: center;
}

.floating-image {
    width: var(--floating-image-w);
    height: var(--floating-image-h);
    margin: 2%;
    background-repeat: no-repeat;
    background-position: center center;
    object-fit: scale-down;
}

.panel-locked {
    width: 20vw;
    min-width: 80vh;
    height: auto;
    margin: 2%;
    background-color: #fff;
    border: 4px solid #000;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.panel-custom {
    width: var(--panel-custom-w);
    height: var(--panel-custom-h);
    margin: 2%;
    background-color: #fff;
    border: 4px solid #000;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    object-fit: cover;
    object-position: var(--panel-custom-position);
}

.full-panel {
   grid-row: span 6;
   grid-column: span 4;
    background-color: #fff;
    border: 4px solid #000;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 1;
}

.screen-cover {
    min-width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    object-fit: cover;
    object-position: 50% 20%;
}

.space-line {
    grid-row: span 1;
    grid-column: span 4;
}

.p1 {
   grid-row: span 3;
   grid-column: span 3;
}

.p2 {
   grid-row: span 3;
   grid-column: span 4;
}

.p3 {
   grid-row: span 6;
   grid-column: span 4;
   margin-top: -10%;
   margin-bottom: -10%;
}

.p4 {
   grid-row: span 6;
   grid-column: span 4;
   margin-top: -10%;
   margin-bottom: -10%;
}

.p5 {
   grid-row: span 6;
   grid-column: span 4;
   margin-top: -10%;
   margin-bottom: -10%;
}

.p6 {
   grid-row: span 3;
   grid-column: span 4;
}

.p7 {
   grid-row: span 3;
   grid-column: span 4;
   background-image: url("../../assets/images/sb-p3p2.jpg");
}

.p8 {
   grid-row: span 3;
   grid-column: span 4;
}

.p9 {
   grid-row: span 6;
   grid-column: span 4;
   margin-top: -20%;
   margin-bottom: -10%;
}

/*----------------*/

section:nth-child(1) {
  --h1color: #fff;
  --h1top: 50%;
  --h1font-size: 9vh;
  --h1color: #fff;
  --textx-color: #fff;
  --textx-size: 1.2rem;
  --textx-right: 45%;
  --textx-bottom: 2%;
}

section:nth-child(2) {
}

.floatingtexty {
  position: relative;
  --fontsize: 6rem;
  --ttop: 160%; --tleft: 74%;
}

.balloon1 {
  position: relative;
font-size: 2rem;
  --lleft: -18%;
  --ltop: 15%;
   --brcolor: #ffffff;
}

.balloon2 {
  position: relative;
  font-size: 2rem;
   --lleft: -8%;
   --ltop: 36%;
}

section:nth-child(3) {
  position: relative;
font-size: 2rem;
  --bltransform: rotate(-12deg);
  --ltop: 11%;
  --lleft: 2%;
}

section:nth-child(4) {
  position: relative;
  font-size: 2rem;
 --lleft: -12%;  --ltop: 2%;
}

section:nth-child(5) {
  position: relative;
  font-size: 2rem;
  --ltop: 2%; --lleft: -4%;
}

section:nth-child(6) {
  position: relative;
  font-size: 2rem;
  --ltop: 32%; --lleft: -15%;
}
section:nth-child(7) {
  position: relative;
  --h2top: 20vh;
}
section:nth-child(8) {
  --transform: rotate(12deg);
  --h1top: 19rem;
  --h1font-size: 12rem;
}

section:nth-child(9) {
}

section:nth-child(10) {
  position: relative;
  --h1font-size: 12rem;
}

.balloon7 {
   font-size: 2rem;
   --bcolor: #fed9f5;
   --btop: 66vh; --bright: 6%;
}

section:nth-child(11) {
}
.panel-custom {
   --panel-custom-w: 60vw;
   --panel-custom-h: 40vh;
   --panel-custom-position: 10% 20%;
}

.floating-image {
   --floating-image-w: 60vw;
   --floating-image-h: 40vh;
   margin-bottom: -30%;
}

.bubbleR {
  --rright: 10%;
  font-size: 3rem;
}
