.floatingtexty {
  display: flex;
  position: absolute;
  writing-mode: vertical-lr;
  text-orientation: upright;
  color: #fff;
  text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
  font-family: 'Titan One', cursive;
  font-weight: bold;
  font-size: var(--fontsize);
  line-height: 10px;
  letter-spacing: -1px;
  top: var(--ttop); left: var(--tleft); right: var(--tright);
}

.bubble {
  display: grid;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: var(--btop); left: var(--bleft); right: var(--bright);
  max-width: 12em;
  height: 10em;
  padding-left: 4%;
  padding-right: 2%;
  border: solid 3px #3d3935;
  border-radius: 50%;
  background-color: var(--bcolor);
  color: #3d3935;
  z-index: 4;
}

.bubbleR {
  display: grid;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: var(--rtop); bottom: var(--rbottom); left: var(--rleft); right: var(--rright);
  max-width: 12em;
  height: 10em;
  padding-left: 2%;
  padding-right: 2%;
  border: solid 3px #3d3935;
  border-radius: 50%;
  background-color: #fff;
  color: #3d3935;
  transform: var(--brtransform);
  z-index: 4;
}

.bubbleL {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: var(--ltop); left: var(--lleft); right: var(--lright);
  max-width: 12em;
  height: 10em;
  padding-left: 2%;
  padding-right: 2%;
  border: solid 3px #3d3935;
  border-radius: 50%;
  background-color: #fff;
  color: #3d3935;
  transform: var(--bltransform);
  z-index: 4;
}

.bubbleR::after {
  position: absolute;
  width: 0px;
  height: 0px;
  left: -15px;
  border-top: 8px solid transparent;
  border-right: 8px solid #fff;
  border-bottom: 8px solid transparent;
  border-left: 8px solid transparent;
  content: "";
}

.bubbleR::before {
  position: absolute;
  left: -35px;
  width: 15px;
  height: 0px;
  border-top: 10px solid transparent;
  border-right: 10px solid #3d3935;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
  content: "";
}

.bubbleL::after {
  position: absolute;
  width: 0px;
  height: 0px;
  right: -15px;
  border-top: 8px solid transparent;
  border-left: 8px solid #fff;
  border-bottom: 8px solid transparent;
  border-right: 8px solid transparent;
  content: "";
}

.bubbleL::before {
  position: absolute;
  right: -36px;
  width: 15px;
  height: 0px;
  border-top: 10px solid transparent;
  border-left: 10px solid #3d3935;
  border-bottom: 10px solid transparent;
  border-right: 10px solid transparent;
  content: "";
}

.square {
  display: grid;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 3%;
  padding-right: 2%;
  border: solid 3px #3d3935;
  background-color: var(--scolor);
  color: #3d3935;
  z-index: 4;
}

.burst {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: var(--bbtop); left: var(--bbleft); right: var(--bbright);
  width: 30%;
  height: 60%;
  clip-path: polygon(47.64% 4.73%, 68.19% 22.85%, 89.94% 34.71%, 81.15% 59.94%, 83.29% 90.53%, 54.04% 99.75%, 16.64% 86.65%, 16.64% 59.94%, 11.19% 34.71%, 30.55% 24.12%);
  background-color: #ffffff;
  z-index: 1;
}

.thinkR {
  display: flex;
  color: #000;
  max-width: 14em;
  height: 6em;
  text-align: center;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(-3px 0px 0 #3d3935) drop-shadow(3px 0px 0 #3d3935) drop-shadow(0px 3px 0 #3d3935) drop-shadow(0px -3px 0 #3d3935);
}
.thinkR {
  --b: 3em;
  --p: 50%;
  --r: 1.2em;

  padding: 1em;
  border-radius: 50%;
  background: #fff;
  position: absolute;
}
.thinkR:before {
  content: "";
  position: absolute;
  top: 98%;
  left: clamp(0%,var(--p) - var(--b)/4,100% - var(--b)/2);
  width: var(--b);
  aspect-ratio: 1;
  background: inherit;
  --g:#000 calc(100% - 1px),#0000;
  -webkit-mask:
    radial-gradient(circle closest-side at 88% 88%,var(--g)),
    radial-gradient(20% 20% at 48% 55%,var(--g)),
    radial-gradient(25% 25% at 25% 0,var(--g));
}

/*----------Balloom in Screen Positioning----------*/

.balloom-top-center, .balloom-top-middle {
  text-align: center;
  top: calc(10% - 100px);
  right: calc(50% - 90px);
}

.balloom-bottom-center, .balloom-bottom-middle {
  text-align: center;
  bottom: calc(10% - 100px);
  right: calc(50% - 90px);
}

.balloom-top-left {
  text-align: center;
  top: calc(10% - 100px);
  left: calc(30% - 150px);
}

.balloom-top-right {
  text-align: center;
  top: calc(10% - 100px);
  right: calc(30% - 150px);
}

.balloom-center-left {
  text-align: center;
  top: calc(30% - 0px);
  left: calc(30% - 150px);
}

.balloom-center-right {
  text-align: center;
  top: calc(30% - 0px);
  right: calc(30% - 150px);
}

.balloom-bottom-left {
  text-align: center;
  bottom: calc(10% - 100px);
  left: calc(30% - 150px);
}

.balloom-bottom-right {
  text-align: center;
  bottom: calc(10% - 100px);
  right: calc(30% - 150px);
}

/*----------Balloom in Panel Positioning----------*/

.panel-balloom-top-center, .panel-balloom-top-middle {
  text-align: center;
  top: calc(10% - 100px);
  right: calc(50% - 90px);
}

.panel-balloom-bottom-center, .panel-balloom-bottom-middle {
  text-align: center;
  bottom: calc(10% - 100px);
  right: calc(50% - 90px);
}

.panel-balloom-top-left {
  text-align: center;
  top: calc(10% - 100px);
  left: calc(10% - 150px);
}

.panel-balloom-top-right {
  text-align: center;
  top: calc(10% - 100px);
  right: calc(10% - 150px);
}

.panel-balloom-center-left {
  text-align: center;
  top: calc(30% - 0px);
  left: calc(10% - 150px);
}

.panel-balloom-center-right {
  text-align: center;
  top: calc(30% - 0px);
  right: calc(10% - 150px);
}

.panel-balloom-bottom-left {
  text-align: center;
  bottom: calc(10% - 100px);
  left: calc(10% - 150px);
}

.panel-balloom-bottom-right {
  text-align: center;
  bottom: calc(10% - 100px);
  right: calc(10% - 150px);
}
